.todolistWrapper {
  max-width: 300px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .title {
      font-size: 18px;
      font-weight: 600;
    }
  }

  .buttonWrapper {
    display: flex;
    gap: 10px;
  }
}